input-group {
  background-color: #f5f5f5;
}
.cardresp{
  display: flex;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  flex-wrap: wrap;
}
.photoContainer{
  display: flex;
  flex-wrap: wrap;
}
.photo{
  display:inline;
  min-width: 250px;
  flex-grow:2;
  margin:5px 2px;
  
  transition: transform .2s; /* Animation */

}
.photo:hover{
  transform: scale(1.1);
}
.box{
  height:150px;
  min-width:350px;
  
  flex-grow:1;
  margin:20px 10px;
  padding:20px 10px;
}
.smallAvatar{
  float:right;

}